<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 40px 15px;text-align: center;">
                <h1>
                    Oops!
                </h1>
                <h2>
                    Something Went Wrong
                </h2>
                <div>
                    <h4 class="text-warning">Sorry, an error has occured</h4>
                </div>
            </div>
        </div>
    </div>
</div>
